<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .contaner {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }
      .sub {
        width: 33%;
      }
    </style>
    Í
  </head>
  <body>
    <div class="contaner">
      <div class="sub"></div>
      <div class="sub"></div>
      <div class="sub"></div>
      <div class="sub"></div>
      <div class="sub"></div>
      <div class="sub"></div>
      <div class="sub"></div>
    </div>
  </body>
</html>
